
body{
    background-color: #000;
}
button
{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) scale(1.5);
width: 170px;
height: 50px;
font-size: 25px;
border: none;
background: #339966;
box-shadow: 0 0 5px #000;
color: #fff;
font-family: verdana;
outline: none;
cursor: progress;
}